<h1>There are {{count}} words in your text</h1>

<a href="{% url 'home' %}">Start Again</a>
<br />
<a href="{% url 'about' %}">About</a>


<h1>Your Text:</h1>
{{ fulltext }}

<h1>Word Count:</h1>

<style>
    thead {color: green;}
    tbody {color: blue;}
    tfoot {color: red;}
    
    table, th, td {
      border: 1px solid rgb(27, 27, 27);
    }
</style>

<table style="background-color:#FFFFFF;text-align:center;vertical-align:bottom" cellpadding="1" cellspacing="0" width="20%">
    <thead>
        <tr>
            <th><h1>Word</h1></th>
            <th><h1>Count</h1></th>
        </tr>
    </thead>
    {% for w, c in sorted_words %}
    <tr>
        <td><h3>{{ w }}</h3></td>
        <td><h3>{{ c }}</h3</td>
    </tr>
    {% endfor %}
</table>